<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/2.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by mayur jiyani. It uses data from weatherstack and mapbox.</p>
        <img class="portrait" src="/img/1.png">
    </div>

    {{>footer}}
</body>

</html>